:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.notification {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  bottom: 8px;
  right: 16px;
  padding: 0.7rem;
  margin: 1rem 0;
  background: var(--light-color);
  color: #333;
}

.notification-primary {
  background: var(--primary-color);
  color: #fff;
}

.notification-light {
  background: var(--light-color);
  color: #333;
}

.notification-danger {
  background: var(--danger-color);
  color: #fff;
}

.notification-success {
  background: var(--success-color);
  color: #fff;
}

.notification-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
